body {
    background-image: url(../assets/backgroundimage.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
}

.cardimgstyle {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.cardbodystyle {
    background-color: black;
}

.cardtitlestyle {
    color: white;
    text-align: center;
}

.cardtextstyle {
    color: white;
    text-align: center;
}

.cardbtnstyle {
    display: flex;
    justify-content: center;
}