body {
    background-image: url(../assets/backgroundimage.jpg);
    background-size: cover;
}

@font-face {
    font-family: irish;
    src: url(../assets/IrishGrover-Regular.ttf);
}

h1 {
    font-size: 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 1em;
    justify-content: center;
    font-family: irish;
}

h2 {
    font-size: 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin-left: 450px;
    margin-right: 200px;
    margin-top: 1em;
    justify-content: center;
    font-family: irish;
    width: 60rem;
    height: 6rem;
}

.waqasbtn {
    margin-right: 1em;
    font-size: 45px;
    background-color: black;
    display: block;
    width: 100%;
    text-decoration: none;
    border: none;
    margin-top: 5em;
}

.akbtn {
    margin-right: 1em;
    font-size: 45px;
    background-color: black;
    display: block;
    width: 100%;
    text-decoration: none;
    border: none;
}

.firstpgmoviebtntxt {
    text-decoration: none;
}
.firstpgshowbtntxt {
    text-decoration: none;
    margin-top: 1em;
}

.cardstyle {
    border: black;
}


.cardbodystyle {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.cardtitlestyle {
    color: white;
    text-align: center;


}

.cardtextstyle {
    color: white;
    text-align: center;
}
.cardimgstyle {
    height: 200px;
}
.num1img {
    height: 200px;
}
.num2img {
    height: 200px;
}
.num3img {
    height: 200px;
}
.num4img {
    height: 200px;
}
.num5img {
    height: 200px;
}
.num6img {
    height: 200px;
}

.num7img {
    height: 200px;
}
.num8img {
    height: 200px;
}
.num9img {
    height: 200px;
}
.num10img {
    height: 200px;
}
.num9txt {
    margin-bottom: 2em;
    position: absolute;
    bottom: 85px;

}
.num9title {
    margin-bottom: 2.3em;
    position: absolute;
    bottom: 200px;
    margin-left: 50px;
    
}
.num10txt {
    margin-bottom: 6em;
    position: absolute;
    bottom: 20px;
}
.num10title {
    margin-bottom: 9.5em;
}
.num1body {
    height: 15.5em;
}
.num2body {
    height: 15.5em;
}
.num3body {
    height: 15.5em;
}

.num4body {
    height: 15.5em;
}
.num5body {
    height: 15.5em;
}
.num1btn {
    margin-top: -1em;
}
.num2btn {
    margin-top: .5em;
}
.num3btn {
    margin-top: .6em;
}

.num4btn {
    margin-top: -.9em;
}

.num5btn {
    margin-top: .5em;
}

.num9btn {
    margin-top: 13.5em;
}

.firstrowstyle {
    margin-top: 6em;
    margin-left: 3em;
}

.secondrowstyle {

    padding-bottom: 4em;
    margin-left: 3em;
    margin-top: 4em;
    margin-bottom: 10em;

}

.GOTBtn {
    margin-top: 46px;
}

.RMBtn {
    margin-top: 80px;
}

.OBtn {
    margin-top: 35px;
}

.GVBtn {
    margin-top: 48px;
}

.FBtn {
    margin-top: 24px;
}

.NBtn {
    margin-top: 16px;
}

.LBtn {
    margin-top: 43px;
}

.secondRow {
    margin-left: 45px;
}

.firstRow {
    margin-left: 45px;
}

.pg2mainmenu {
    margin-left: 830px;
    font-size: 45px;
    background-color: black;
    margin-bottom: 2em;
    margin-top: -3em;
    border: none;
}

.pg3mainmenu {
    margin-left: 830px;
    font-size: 45px;
    background-color: black;
    margin-bottom: 2em;
    margin-top: 1em;
    border: none;
}