body {
    background-image: url(../assets/backgroundimage.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
}

.cardstyle {
    border: black;
    height: 600p
}

.cardimgstyle {
   height: 210px;
   width: 288px;
}

.cardbodystyle {
    background-color: black;
    height: 250px;
}

.cardtitlestyle {
    color: white;
    text-align: center;
}

.cardtextstyle {
    color: white;
    text-align: center;
    font-size: 14px
}

.cardbtnstyle {
    width: 140px;
    height: 38px;
    /* display: flex;
    justify-content: center; */
    vertical-align: top;
    
}